{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh

# private_Library/LaunchAgents/com.1password.SSH_AUTH_SOCK.plist.tmpl hash: {{ include "private_Library/LaunchAgents/com.1password.SSH_AUTH_SOCK.plist.tmpl" | sha256sum }}

echo -n "Loading LaunchAgent: com.1password.SSH_AUTH_SOCK .. "

launchctl unload {{ .chezmoi.homeDir }}/Library/LaunchAgents/com.1password.SSH_AUTH_SOCK.plist 2>/dev/null
set -e
launchctl load -w {{ .chezmoi.homeDir }}/Library/LaunchAgents/com.1password.SSH_AUTH_SOCK.plist

echo "Done!"
{{ end -}}
